dash
dash-bootstrap-components
plotly
pandas
numpy
sqlalchemy
pyodbc
urllib3
gunicorn
matplotlib
seaborn
python-dotenv
sudo apt-get update
sudo ACCEPT_EULA=Y apt-get install -y msodbcsql18
